### Maven
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ
.idea/
*.iml
*.iws
out/


### OS 공통
.DS_Store
Thumbs.db

### 로그/기타
*.log
*.tmp
*.bak

### 테스트
/auth-service/src/test/
/notification-service/src/test/
/recommend-service/src/test/
/stats-service/src/test/
/study-service/src/test/
/system-service/src/test/
/user-service/src/test/

### 환경 설정 (필요시)
*.env
