### Maven
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ
.idea/
*.iml
*.iws
out/

### Service
auth-service
recommend-service
stats-service/.mvn
stats-service/HELP.md
stats-service/mvnw
stats-service/mvnw.cmd
system-service/.mvn
system-service/HELP.md
system-service/mvnw
system-service/mvnw.cmd



### OS 공통
.DS_Store
Thumbs.db

### 로그/기타
*.log
*.tmp
*.bak

### 환경 설정 (필요시)
*.env

# ❌ Git 에서 제외할 서비스들
study-service/
