server:
  port: 10000

spring:
  datasource:
    url: jdbc:mariadb://mariadb-primary.c3kkm2iwaeig.ap-northeast-2.rds.amazonaws.com:3306/studydb?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: admin
    password: admin1234!
    driver-class-name: org.mariadb.jdbc.Driver
    maximum-pool-size: 4      # 기본값 10은 너무 큽니다. 4~5로 줄이세요.
    minimum-idle: 2           # 최소 유지 연결 수
    idle-timeout: 30000       # 유휴 연결 반납 시간 단축
    max-lifetime: 540000      # (옵션) 커넥션 갱신 주기

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "MySuperSecureSecretKey_ForStudyLinker_App_2025_AAAABBBBCCCCDDDDEEEEFFFFGGGGHHHHIIIIJJJJ"
  expiration: 3600000

management:
  endpoints:
    web:
      exposure:
        include: health,info
