server:
  port: 10003 # TODO: 실제 환경에 맞게 조정 (auth/user-service와 겹치지 않게)

spring:
  application:
    name: stats-service

  datasource:
    url: jdbc:mariadb://studydb.choiiq8m684g.ap-northeast-2.rds.amazonaws.com:3306/studydb
    username: studyuser
    password: 12200000
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

jwt:
  secret: "MySuperSecureSecretKey_ForStudyLinker_App_2025_AAAABBBBCCCCDDDDEEEEFFFFGGGGHHHHIIIIJJJJ"
  expiration: 3600000

management:
  endpoints:
    web:
      exposure:
        include: health,info
